/* vars */
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"),
    url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff") format("woff"),
    url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"),
    url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Mistral";
  font-display: swap;
  src: url("../fonts/Mistral-Regular.woff") format("woff"),
    url("../fonts/Mistral-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Digital;
  font-display: swap;
  src: url("../fonts/digital_mono.woff") format("woff"),
    url("../fonts/digital_mono.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  --m: 15px;
  --mm: 30px;
  --mmm: 45px;

  --max-w: 850px;

  --black: rgb(34, 34, 34);
  --black-70: rgb(34, 34, 34, 0.7);
  --black-30: rgb(34, 34, 34, 0.3);

  --white: rgb(248, 248, 248);
  --white-70: rgb(248, 248, 248, 0.7);
  --white-30: rgba(255, 255, 255, 0.3);

  --blue: rgb(69, 218, 0);
  --blue-30: rgba(20, 255, 231, 0.3);

  --yellow: rgb(255, 235, 59);
  --yellow-30: rgba(255, 235, 59, 0.3);

  --purple: rgb(255, 0, 224);
  --purple-30: rgba(255, 0, 224, 0.3);

  --red: rgb(255, 0, 64);
  --red-30: rgba(255, 0, 64, 0.3);

  --gradient: linear-gradient(var(--blue), var(--yellow), var(--purple));
  --gradient-horisontal: linear-gradient(to right, var(--blue), var(--yellow), var(--purple));

  font: 400 1rem Roboto, sans-serif;

  background-color: var(--black);
  color: var(--white);

  overflow-x: hidden;
  overflow-y: scroll;
}

/* vars */

/* container */
.container {
  width: 100%;
  max-width: var(--max-w);
  box-sizing: border-box;
  padding: 0 var(--m);
  margin: 0 auto;
}

/* container */

/* scrollbar */
::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background-color: var(--black);
}

::-webkit-scrollbar-thumb {
  background: var(--gradient);
  box-shadow: inset 0 0 3px 2px var(--black);
}


/* scrollbar */

/* header */
header {
  width: 100%;
  display: grid;
  grid-template-columns: 180px minmax(530px, auto);
  grid-column-gap: var(--mmm);
  margin-top: var(--mm);
}

.nav-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-links__item {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: var(--white-30);
  position: relative;
}

.nav-links__item b {
  font-weight: 400;
  color: var(--black);
}

.nav-links__item i {
  position: absolute;
  font-style: normal;
  left: 0;
  top: 0;
  transition: all 0.3s ease .1s;
}

.nav-links__item:hover i {
  transform: scale(1.35, 1.35);
  transform-origin: center center;
  color: var(--purple);
  transition: all .1s ease;
}

.avatar-container {
  grid-row: 1 / 4;
}

.avatar {
  background: var(--gradient);
  border-radius: 50%;
  border-bottom-left-radius:30px;
  box-sizing: border-box;
  padding: 5px;
  position: relative;
}

.avatar::before {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  border-radius: 50%;
  border-bottom-left-radius: 5px;
  background: var(--gradient);
  filter: blur(20px);
  animation: shine 5s linear both alternate infinite;
}

.avatar img {
  width: 100%;
  display: block;
  border-radius: 50%;
}

@keyframes shine {
  0% {
    filter: blur(10px);
  }

  100% {
    filter: blur(20px);
  }
}

.person {
  font: 500 3.5rem Mistral, sans-serif;
  letter-spacing: 1px;
  text-shadow: 0 0 10px var(--blue);
  border-bottom: 1px dotted var(--blue-30)
}

.contacts {
  box-sizing: border-box;
  display: flex;
  align-self: end;
}

.contacts__item {
  flex: 1 1 100%;
}

.contacts__item:nth-child(1) {
  flex-basis: 70%;
}

.contacts__item:nth-child(4) {
  flex-basis: auto;
}

.contacts__header {
  display: block;
  font-size: 0.6rem;
  color: var(--white-30);
  text-transform: uppercase;
  margin-bottom: 5px;
}

.contacts__content {
  color: var(--white-70);
  white-space: nowrap;
}

/* header */

/* main */
main {
  padding-bottom: var(--mmm);
}

section {
  margin-top: calc(var(--mmm) * 1.5);
}

.section__label {
  font-size: 1.4rem;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.section__label--yellow {
  color: var(--yellow);
}

.section__label--blue {
  color: var(--blue);
}

.section__label--purple {
  color: var(--purple);
}

.section__label--red {
  color: var(--red);
}

.section__content {
  box-sizing: border-box;
  padding-left: var(--mm);
  position: relative;
  z-index: 1;
  margin-top: var(--m);
  line-height: 23px;
  text-align: justify;
}

.section__content::before {
  content: '';
  width: 5px;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.section__content--yellow::before {
  background: var(--yellow-30);
}

.section__content--blue::before {
  background: var(--blue-30);
}

.section__content--purple::before {
  background: var(--purple-30);
}

.section__content--red::before {
  background: var(--red-30);
}

/* main */

/* skills */
.skills li {
  margin: var(--m) 0;
  display: flex;
  align-items: center;
}

.skills li b {
  flex: 1 0 70px;
  font-weight: 400;
}

.skills li i {
  height: 14px;
  flex: 1 1 100%;
  background: var(--gradient-horisontal);
  position: relative;
  top: -1px;
  border-radius: 7px;
  box-sizing: border-box;
}

.skills li i::before {
  content: '';
  height: calc(100% - 2px);
  position: absolute;
  right: 1px;
  top: 1px;
  z-index: 0;
  display: block;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  background-color: var(--black);
}

.skill-1 b {
  color: var(--blue);
  text-shadow: 0 0 5px var(--blue-30);
}

.skill-2 b {
  color: var(--yellow);
  text-shadow: 0 0 5px var(--yellow);
}

.skill-3 b {
  color: var(--purple);
  text-shadow: 0 0 5px var(--purple);
}

.skill-4 b,
.skill-5 b {
  font-weight: 700 !important;
  color: var(--red);
  text-shadow: 0 0 5px var(--red);
}

.skill-1 i::before {
  width: 80%;
}

.skill-2 i::before {
  width: 60%;
}

.skill-3 i::before {
  width: 40%;
}

.skill-4 i::before {
  width: 20%;
}

.skill-5 i::before {
  width: 0%;
}

.skills span {
  width: 200px;
  color: var(--white);
  text-shadow: none;
  font-weight: 400;
  display: inline-block;
}

/* skills */

/* code */
.code-container {
  background-image: url("../img/keyboard.jpg");
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: var(--mm);
  padding-bottom: var(--mmm);
}

.code-container::before {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--black);
  opacity: 0.75;
}

pre {
  color: var(--black);
  background-color: var(--white-70);
  padding: var(--m) 0;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 5px;
}

pre b {
  color: #cf222e;
  font-weight: 400;
}

pre i {
  color: #8250df;
  font-style: normal;
}

pre u {
  color: #953800;
  text-decoration: none;
}

pre span {
  color: #0550ae;
}

/* code */

/* courses */
.course__container {
  padding-top: 3px;
  padding-bottom: 7px;
}

.course__link {
  width: auto;
  display: inline;
  color: var(--yellow);
  position: relative;
  line-height: 41px;
  transition: all .1s ease;
  text-transform: uppercase;
}

.course__link::after {
  content: '';
  width: calc(100% + 2px);
  display: block;
  border-top: 1px dotted var(--yellow);
  position: absolute;
  left: -1px;
  bottom: -2px;
}

.course__link:hover {
  color: var(--purple);
}

.course__link:hover::after {
  border-top: 1px dotted var(--purple);
}

/* courses */

/* projects */
.projects {
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: var(--mm);
}

.project__container {
  position: relative;
}

.project__label {
  position: absolute;
  right: var(--m);
  top: -1px;
  line-height: 0;
  z-index: 2;
  color: var(--red);
  text-shadow: 0 0 5px var(--black);
}

.project__content {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.project__content::before {
  content: '';

  width: 100%;
  height: 100%;

  position: absolute;
  left: 0px;
  top: 0px;

  background: rgba(78, 101, 129, .75) url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjQiIGhlaWdodD0iNCI+PGcgZmlsbD0ibm9uZSI+PGcgZmlsbD0iIzAwMCI+PHBhdGggZD0iTTAgMGgxdjFIMHoiLz48cGF0aCBkPSJNMiAwaDF2MUgyeiIvPjxwYXRoIGQ9Ik0yIDJoMXYxSDJ6Ii8+PHBhdGggZD0iTTAgMmgxdjFIMHoiLz48L2c+PC9nPjwvc3ZnPg==) 0 0 repeat;

  z-index: 1;

  opacity: .25;

  transition: all 1s ease;
}

.project__content img {
  width: 100%;
  display: block;
  transition: all 0.75s ease;
}

.project__container:hover .project__content::before {
  opacity: 0;
}

.project__container:hover .project__content img {
  transform: scale(1.2, 1.2);
  transform-origin: center center;
}

/* projects */

/* footer */
footer {
  width: 100%;
  position: relative;
  padding: var(--mm) 0;
  margin-top: var(--m);
}

footer::before {
  content: '';
  width: 100%;
  height: 1px;
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: -1px;
  border-top: 1px dotted var(--blue);
  animation: hues 10s linear both alternate infinite;
}

@keyframes hues {
  0% {
    border-top-color: var(--blue);
  }

  50% {
    border-top-color: var(--yellow);
  }

  100% {
    border-top-color: var(--purple);
  }
}

footer .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.github__link {
  display: flex;
  align-items: center;
}

.github__icon {
  background-color: var(--white-30);
  border-radius: 70%;
  box-sizing: border-box;
  padding: 1px;
  position: relative;
  margin-right: var(--mm);
}

.github__icon::before {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  border-radius: 50%;
  background: var(--gradient);
  filter: blur(3px);
}

.github__icon img {
  width: 100%;
  display: block;
  border-radius: 50%;
}

.github__link {
  color: var(--white);
  transition: all .1s ease;
  text-shadow: 0 0 0 var(--purple);
}

.github__link:hover {
  color: var(--purple);
  text-shadow: 0 0 5px var(--purple);
}

.rs__icon {
  width: 80px;
  filter: invert(1);
  transition: all 0.1s ease;
}

.rs__icon:hover {
  filter: invert(0);
}

/* footer */
